/* sidebar menu */
.navigation_bar {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 30px;
  }
  .header{
    display:flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .brand{
    font-size: 27px;
    margin-left: 5px;
  }
  /* less padding and a smaller font size on smaller screens */
  @media screen and (max-height: 450px) {
    .navigation_bar {padding-top: 15px;}
    .navigation_bar a {font-size: 18px;}
  }

/* links */
.p_link{
  color:#513575;
  transition: color 0.2s
}
.p_link:hover{
  color:#AA6FF6;
  text-decoration: none;
}
.n_link, .info_link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #bea4e0;
    display: block;
  }
  .info_link{
    display:inline-block;
    padding:unset;
    font-size: 17px;
  }

  .n_link:hover, .info_link:hover {
    color: #AA6FF6;
    text-decoration: none;
  }

  /* text */
  h3{
    padding-bottom: 10px;
  }
  h4{
    margin: 8px 0px 5px 15px
  }
  .user{
    color:#51357580;
    margin-left: 8px;
  }
  h2, .info{
    text-align: center;
    margin-bottom: 20px;
  }
  .info{
    margin-top:20px;
    font-weight: 600;
  }

  /* forms */
  .new{
    position:relative;
  }
  form{
    text-align: center;
  }
  .new_post{
    border:none;
    padding:15px 50px 90px 80px;
    width:100%;
    font-size: 20px;
    outline: none;
    font-family: sans-serif;
  }
  .new_post:active, .new_post:focus-visible{
    border:none
  }
  .custom-input {
    color: #513575;
    display: inline-block;
    background: #bea4e0;
    border: 1px solid #999;
    border-radius: 20px;
    padding: 8px 18px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 10pt;
    transition: background-color 0.3s;
    transition: color 0.3s
  }
  .custom-input:hover{
    color:white;
    background-color: #AA6FF6;
  }
  
  input[type='file']{
    display: none;
    cursor:pointer;
  }


  /* buttons */
  .post{
    width: 100px !important;
    position:absolute;
    right:15px;
    bottom: 60px;
  }
  .follow{
    right: 70px;
    bottom: 130px
  }
  .btn-violet{
    width: 50% !important;
  }
  .navigation_bar button, .btn-violet, .post{
    margin-top: 13px;
    border:unset;
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    background-color:#AA6FF6;
    transition: background-color 0.5s;
  }
  .navigation_bar button:hover,.btn-violet:hover, .post:hover{
    background-color: #513575;
    color:white
  }

  /* page content */
.body {
    margin-left: 240px;
    font-family: "Roboto";
  }
.space{
  margin: 30px 20px 0px 20px;
  padding: 0px 10px;
}
/* icons */
.icon, .twit{
  margin-right: 13px;
  padding-bottom: 5px;
}
body{
  margin:0px 0px 0px 0px;
}


/* images */
.prof_img{
  border-radius: 50%;
  width:40px;
  height:40px;
  position:absolute;
  left:20px;
  top:10px;
}
.p_img{
  border-radius: 50%;
  width: 150px;
  height:150px;
  border: 5px solid white;
  position:absolute;
  left: 50px;
  top: 120px;
}



/* lists */
.list-group-item{
  margin-bottom: 10px;
}

/* box */
.box{
  position:relative;
  background-color: #bea4e0;
  width:100%;
  height: 200px;
}
.box2{
  position: relative;
  font-size: 21px;
  padding: 70px 0px 0px 30px;
  height: 200px;
}

.line{
  width:1px;
  height: 60px;
  border-left: 1.5px solid rgb(209, 209, 209);
  margin: 0px 8px;
}
.information{
  display:flex;
  flex-direction: column;
  align-items: center;
}