/* The sidebar menu */
.navigation_bar {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 30px;
  }

/* The navigation menu links */
.n_link, .info_link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #bea4e0;
    display: block;
  }
  .info_link{
    display:inline-block;
    padding:unset;
    font-size: 17px;
  }

  .n_link:hover, .info_link:hover {
    color: #AA6FF6;
    text-decoration: none;
  }
  .user{
    color:#51357580;
    margin-left: 8px;
  }

  .btn-violet{
    width: 50% !important;
  }
  form{
    text-align: center;
  }
  h2, .info{
    text-align: center;
    margin-bottom: 20px;
  }
  .info{
    margin-top:20px;
    font-weight: 600;
  }
  .navigation_bar button, .btn-violet{
    margin-top: 13px;
    border:unset;
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    background-color:#AA6FF6;
    transition: background-color 0.5s;
  }
  .navigation_bar button:hover,.btn-violet:hover{
    background-color: #513575;
    color:white
  }

  /* Style page content */
.body {
    margin-top: 30px;
    margin-left: 260px;
    margin-right: 20px;
    padding: 0px 10px;
  }
  body{
    background-color: rgb(249, 249, 249);
  }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .navigation_bar {padding-top: 15px;}
    .navigation_bar a {font-size: 18px;}
  }

/* icons */
.icon, .twit{
  margin-right: 13px;
  padding-bottom: 5px;
}

.header{
  display:flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 10px;
}
.brand{
  font-size: 27px;
  margin-left: 5px;
}
