{% extends "network/layout.html" %}

{% block body %}
<div class="space">
    <h3>Following</h3>

    <div class="main">
        <ul class="list-group list-group-flush">
            {% for post in posts %}
            <li class="shadow-sm bg-body-tertiary rounded list-group-item">
                <div class="fx">
                    <div class="prof_img_div"><img src='{{ post.user.image.url }}' alt='Profile Image' class='prof_img' style="position:static"></div>
                    <div>
                        <div class="fx">
                            <a href="{% url 'profile' post.user.id %}" class="p_link"><div class="username"><strong>{{post.user.username}}</strong></div></a>
                            <div class="text-muted">{{post.user.email}}</div>
                        </div>
                        <div class="time text-muted">{{post.time}}</div>
                        <div>{{post.text}}</div>
                        <hr class="hr1">
                        <div class="fx pointer">
                            <div class="like">
                                <div class="ilbk heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(209, 209, 209)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                      </svg>
                                </div>
                                <div class="ilbk" class="num_likes">0</div>
                            </div>
                            <div>
                                <div class="ilbk chat">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray" class="bi bi-chat-left" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    </svg>
                                </div>
                                <div class="ilbk" class="num_comments">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
                <h4>No posts yet.</h4>
            {% endfor %}
        </ul>
    </div>
    <div class="nav_pag">
        <nav aria-label="pagination">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% for page in posts.paginator.page_range%}
                    {% if page == posts.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{posts.number}}">{{posts.number}}<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %} 
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                {%else%}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                {% endif %}
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}