{% extends "network/layout.html" %}

{% block body %}
<div class="space">
    <h3>All Posts</h3>

    {% if user.is_authenticated %}
    <form class="new" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <img src='{{ user.image.url }}' alt='Profile Image' class='prof_img'>
        <input class="new_post shadow mb-5 bg-body-tertiary rounded" name="post" autofocus autocomplete="off" placeholder="What's happening, {{user.username}}?">
        <input type="submit" class="post" value="Post">
    </form>
    {%endif%}
    <div class="main">
        <ul class="list-group list-group-flush">
            {% for post in posts %}
            <li class="shadow-sm bg-body-tertiary rounded list-group-item">
                <div style="display:flex">
                    <div style="margin-right:15px"><img src='{{ post.user.image.url }}' alt='Profile Image' class='prof_img' style="position:static"></div>
                    <div>
                        <div style="display:flex">
                            <a href="{% url 'profile' post.user.id %}" class="p_link"><div style="margin-right:8px"><strong>{{post.user.username}}</strong></div></a>
                            <div class="text-muted">{{post.user.email}}</div>
                        </div>
                        <div class="text-muted" style="font-size: 13px; margin-bottom: 10px;">{{post.time}}</div>
                        <div>{{post.text}}</div>
                        <hr style="margin-bottom: 1px;">
                        <div style="display:flex; cursor:pointer">
                            <div class="like" style="margin-right:17px">
                                <img class="like_img"src="static/network/heart.svg">
                                <div style="display: inline-block;" id="num">0</div>
                            </div>
                            <div><img src="static/network/chat-left.svg"> 0</div>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
                <h4>No posts yet.</h4>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}