{% extends "network/layout.html" %}

{% block body %}
<div class="space">
    <h3>All Posts</h3>

    {% if user.is_authenticated %}
    <form class="new" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <img src='{{ user.image.url }}' alt='Profile Image' class='prof_img'>
        <input class="new_post shadow mb-5 bg-body-tertiary rounded" name="post" autofocus autocomplete="off" placeholder="What's happening, {{user.username}}?">
        <input type="submit" class="post" value="Post">
    </form>
    {%endif%}
    <div class="main">
        <ul class="list-group list-group-flush">
            {% for post in posts %}
            <li class="shadow-sm bg-body-tertiary rounded list-group-item">
                <div class="fx">
                    <div class="prof_img_div"><img src='{{ post.user.image.url }}' alt='Profile Image' class='prof_img' style="position:static"></div>
                    <div class="user_content">
                        <div class="fx between">
                            <div class="fx">
                                <a href="{% url 'profile' post.user.id %}" class="p_link"><div class="username"><strong>{{post.user.username}}</strong></div></a>
                                <div class="text-muted">{{post.user.email}}</div>
                            </div>
                            {% if user == post.user %}
                            <div><button class="edit" data-id="{{post.id}}">Edit</button></div>
                            {% endif %}
                        </div>
                        <div class="time text-muted">{{post.time}}</div>
                        <div class="post_content" data-content="{{post.text}}" data-id="{{post.id}}">{{post.text}}</div>
                        <hr class="hr1">
                        <div class="fx pointer">
                            <div class="like">
                                <img class="like_img"src="static/network/heart.svg">
                                <div class="ilbk"id="num">0</div>
                            </div>
                            <div><img src="static/network/chat-left.svg"> 0</div>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
                <h4>No posts yet.</h4>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}