{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/y.css' %}" rel="stylesheet">
        <script>
          const csrf_token = `{% csrf_token %}`;
          const url_index = `{% url 'index' %}`
        </script>
        <script src="{% static 'network/network.js'%}"></script>
    </head>
    <body>
      <div class="navigation_bar shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div>
          <div class="header">
            <img class="twit" src="{% static 'network/twitter.svg' %}">
            <strong class="brand">Network</strong>
          </div>
              <a  href="{% url 'index' %}" class="n_link"><img class="icon" src="{% static 'network/house-heart-fill.svg' %}">All Posts</a>
            {% if user.is_authenticated %}
              <a href="{% url 'following' user.id%}" class="n_link"><img class="icon" src="{% static 'network/hash.svg' %}">Following</a>
              <a href="{% url 'profile' user.id %}" class="n_link"><img class="icon" src="{% static 'network/person-fill.svg' %}">Profile</a>
        </div>
        <div>
            <hr>
              <div class="user"><strong>Logged in as {{ user.username }}</strong></div>
              <a href="{% url 'logout' %}"><button>Log out</button></a>
            {% else %}
              <a href="{% url 'login' %}" class="n_link"><img class="icon" src="{% static 'network/door-open-fill.svg' %}">Log in</a>
              <a href="{% url 'register' %}" class="n_link"><img class="icon" src="{% static 'network/person-fill-add.svg' %}">Register</a>
            {% endif %}
            <hr>
        </div>
      </div>
      
      <div class="body">
          {% block body %}
          {% endblock %}
      </div>
    </body>
</html>