{% extends "network/layout.html" %}

{% block body %}
    <h4><strong>{{user1.username}}</strong></h4>
    <hr style="margin-bottom:0px">
    <div class="box">
        <img src='{{ user1.image.url }}' alt='Profile Image' class='p_img'>   
    </div>
    <div class="box2">
        {% if user.is_authenticated %}
            {% if user != user1 %}
                <form method="post" action="{{user1.id}}">
                    {% csrf_token %}
                    {% if user in user1.followers.all %}
                        <input type="hidden" value="unfollow" name="followers">
                        <button class="post follow" style="width: 150px !important;">Unfollow</button>
                    {% else %}
                        <input type="hidden" value="follow" name="followers"> 
                        <button class="post follow">Follow</button>
                    {% endif %}  
                </form>
            {% endif %}
        {% endif %}
        <div><strong>{{user1.username}}</strong></div>
        <div class="text-muted">{{user1.email}}</div>
        <div class="text-muted" style="margin: 10px 0px; font-size: 19px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            Joined: {{user1.date_joined.date}}
        </div>
        <div class="text-muted" style="font-size: 19px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
            Last online: {{user1.last_login}}
        </div>
        <div style="display: flex; margin-top: 20px">
            <div class="information"><div class="text-muted">Posts</div><strong>{{user1.posts.all.count}}</strong></div>
            <div class="line"></div>
            <div class="information"><div class="text-muted">Followers</div><strong>{{user1.followers.count}}</strong></div>
            <div class="line"></div>
            <div class="information"><div class="text-muted">Following</div><strong>{{user1.following.count}}</strong></div>
            </div>
    </div>
    <ul class="posts list-group list-group-flush">
        {% for post in user1.posts.all %}
        <li class="shadow-sm bg-body-tertiary rounded list-group-item">
            <div style="display:flex">
                <div style="margin-right:15px"><img src='{{ post.user.image.url }}' alt='Profile Image' class='prof_img' style="position:static"></div>
                <div>
                    <div style="display:flex">
                        <a href="{% url 'profile' post.user.id %}" class="p_link"><div style="margin-right:8px"><strong>{{post.user.username}}</strong></div></a>
                        <div class="text-muted">{{post.user.email}}</div>
                    </div>
                    <div class="text-muted" style="font-size: 13px; margin-bottom: 10px;">{{post.time}}</div>
                    <div>{{post.text}}</div>
                    <hr style="margin-bottom: 1px;">
                    <div style="display:flex; cursor:pointer">
                        <div class="like" style="margin-right:17px">
                            <img class="like_img"src="static/network/heart.svg">
                            <div style="display: inline-block;" id="num">0</div>
                        </div>
                        <div><img src="static/network/chat-left.svg"> 0</div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
            <h4>No posts yet.</h4>
        {% endfor %}
    </ul>
{% endblock %}