{% extends "network/layout.html" %}

{% block body %}
    <h4><strong>{{user1.username}}</strong></h4>
    <hr class="hr2">
    <div class="box">
        <img src='{{ user1.image.url }}' alt='Profile Image' class='p_img'>   
    </div>
    <div class="box2">
        {% if user.is_authenticated %}
            {% if user != user1 %}
                <form method="post" action="{{user1.id}}">
                    {% csrf_token %}
                    {% if user in user1.followers.all %}
                        <input type="hidden" value="unfollow" name="followers">
                        <button class="post follow" style="width: 150px !important;">Unfollow</button>
                    {% else %}
                        <input type="hidden" value="follow" name="followers"> 
                        <button class="post follow">Follow</button>
                    {% endif %}  
                </form>
            {% endif %}
        {% endif %}
        <div><strong>{{user1.username}}</strong></div>
        <div class="text-muted">{{user1.email}}</div>
        <div class="joined text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            Joined: {{user1.date_joined.date}}
        </div>
        <div class="last_online text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
            Last online: {{user1.last_login}}
        </div>
        <div class="fx stats">
            <div class="information"><div class="text-muted">Posts</div><strong>{{user1.posts.all.count}}</strong></div>
            <div class="line"></div>
            <div class="information"><div class="text-muted">Followers</div><strong>{{user1.followers.count}}</strong></div>
            <div class="line"></div>
            <div class="information"><div class="text-muted">Following</div><strong>{{user1.following.count}}</strong></div>
            </div>
    </div>
    <ul class="posts list-group list-group-flush">
        {% for post in posts %}
        <li class="shadow-sm bg-body-tertiary rounded list-group-item">
            <div class="fx">
                <div class="prof_img_div"><img src='{{ post.user.image.url }}' alt='Profile Image' class='prof_img' style="position:static"></div>
                <div class="user_content">
                    <div class="fx between">
                        <div class="fx">
                            <a href="{% url 'profile' post.user.id %}" class="p_link"><div class="username"><strong>{{post.user.username}}</strong></div></a>
                            <div class="text-muted">{{post.user.email}}</div>
                        </div>
                        {% if user == post.user %}
                        <div><button class="edit" data-id="{{post.id}}">Edit</button></div>
                        {% endif %}
                    </div>
                    <div class="time text-muted">{{post.time}}</div>
                    <div  class="post_content" data-content="{{post.text}}" data-id="{{post.id}}">{{post.text}}</div>
                    <hr class="hr1">
                    <div class="fx pointer">
                        <div class="like">
                            <div class="ilbk heart" data-id="{{post.id}}" data-user="{{user.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(209, 209, 209)" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                  </svg>
                            </div>
                            <div class="ilbk num_likes">0</div>
                        </div>
                        <div>
                            <div class="ilbk chat">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="rgb(209, 209, 209)" class="bi bi-chat-left-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                  </svg>
                            </div>
                            <div class="ilbk num_comments">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
            <h4>No posts yet.</h4>
        {% endfor %}
    </ul>
    <div class="nav_pag">
        <nav aria-label="pagination">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% for page in posts.paginator.page_range%}
                    {% if page == posts.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{posts.number}}">{{posts.number}}<span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %} 
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                {%else%}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                {% endif %}
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </div>
{% endblock %}